docs/n8n_references_rizzult/Rizzult Google Sheets → HubSpot Sync.json
{
  "name": "Rizzult Google Sheets → HubSpot Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "5708c3e1-f43b-4b10-a9c5-6af6d2df98df",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -384,
        -112
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Zg-ER4ZlhlHuLFWya_ROi5VuMJ6ld_ERh3ONcB2sJ3s/edit?pli=1&gid=1599376288#gid=1599376288",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1599376288,
          "mode": "list",
          "cachedResultName": "Replies",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Zg-ER4ZlhlHuLFWya_ROi5VuMJ6ld_ERh3ONcB2sJ3s/edit#gid=1599376288"
        },
        "options": {}
      },
      "id": "1f61b866-1035-49cd-8ad5-e07c4373097c",
      "name": "Read Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -160,
        -112
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "959KTe6xTH1SnzmJ",
          "name": "Google Sheets Sally account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Positive",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-3",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Meeting Booked",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-2",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Interested",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "ab621259-9d80-4feb-92f1-0023d145e186",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Qualified Lead",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "2d2daec2-253a-4680-bb1e-9ca48f998460",
      "name": "Filter by Status",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        64,
        -112
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "email": "={{ $json.target_lead_email }}",
        "additionalFields": {
          "companyName": "={{ $json['Company '] || undefined }}",
          "firstName": "={{ $json['first name'] || undefined }}",
          "industry": "={{ $json.segment || undefined }}\n",
          "jobTitle": "={{ $json.Position || undefined }}",
          "lastName": "={{ $json['last name'] || undefined }}",
          "linkedinUrl": "={{ $json.Linkedin && $json.Linkedin.includes('linkedin.com') ? $json.Linkedin : undefined }}",
          "websiteUrl": "={{ $json.Website && $json.Website.length > 5 && $json.Website.includes('.') ? $json.Website : undefined }}"
        },
        "options": {}
      },
      "id": "65508b18-f36e-4cc8-a5ea-4898f1438b26",
      "name": "Create/Update HubSpot Contact",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.1,
      "position": [
        416,
        -112
      ],
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "pTrpYKJ42sWFXQTy",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Zg-ER4ZlhlHuLFWya_ROi5VuMJ6ld_ERh3ONcB2sJ3s/edit?pli=1&gid=1599376288#gid=1599376288",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 897680878,
          "mode": "list",
          "cachedResultName": "WhatsApp Replies",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Zg-ER4ZlhlHuLFWya_ROi5VuMJ6ld_ERh3ONcB2sJ3s/edit#gid=897680878"
        },
        "options": {}
      },
      "id": "d8564d6d-517c-4dd4-9640-af362f592670",
      "name": "Read Google Sheets WhatsApp",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -64,
        80
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "959KTe6xTH1SnzmJ",
          "name": "Google Sheets Sally account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Positive",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-3",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Meeting Booked",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-2",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Interested",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "ab621259-9d80-4feb-92f1-0023d145e186",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Qualified Lead",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "82a1fc60-04ed-4bff-977f-519f6b241ed9",
      "name": "Filter by Status WhatsApp",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        128,
        80
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "email": "={{ $json.target_lead_email }}",
        "additionalFields": {
          "companyName": "={{ $json['Company '] || undefined }}",
          "firstName": "={{ $json['first name'] || undefined }}",
          "industry": "={{ $json.segment || undefined }}\n",
          "jobTitle": "={{ $json.Position || undefined }}",
          "lastName": "={{ $json['last name'] || undefined }}",
          "linkedinUrl": "={{ $json.Linkedin && $json.Linkedin.includes('linkedin.com') ? $json.Linkedin : undefined }}",
          "websiteUrl": "={{ $json.Website && $json.Website.length > 5 && $json.Website.includes('.') ? $json.Website : undefined }}"
        },
        "options": {}
      },
      "id": "fd06a2e0-61aa-484c-a725-3a07688fe789",
      "name": "Create/Update HubSpot Contact WhatsApp",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.1,
      "position": [
        480,
        80
      ],
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "pTrpYKJ42sWFXQTy",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6592b0f0-0547-4c02-beaa-829095f70b29",
              "name": "target_lead_email",
              "value": "={{ \n  $('Filter by Status').item.json.target_lead_email &&\n  $('Filter by Status').item.json.target_lead_email.trim() !== ''\n    ? $('Filter by Status').item.json.target_lead_email\n    : `fake${$json['first name']?.slice(0,2) || ''}${$json['last name']?.slice(0,2) || ''}@gmail.com`.toLowerCase()\n}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "except",
        "excludeFields": "={{ $('Filter by Status').item.json.target_lead_email }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        -112
      ],
      "id": "49743fd5-0a83-48e2-b1b8-06be2284fce3",
      "name": "Add email if missing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6592b0f0-0547-4c02-beaa-829095f70b29",
              "name": "target_lead_email",
              "value": "={{ \n  $('Filter by Status WhatsApp').item.json.target_lead_email &&\n  $('Filter by Status WhatsApp').item.json.target_lead_email.trim() !== ''\n    ? $('Filter by Status WhatsApp').item.json.target_lead_email\n    : `fake${$json['first name']?.slice(0,2) || ''}${$json['last name']?.slice(0,2) || ''}@gmail.com`.toLowerCase()\n}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "except",
        "excludeFields": "={{ $('Filter by Status').item.json.target_lead_email }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        80
      ],
      "id": "2212c0cf-188e-4227-ad1c-7975f7040ceb",
      "name": "set email if missing WhatsApp"
    }
  ],
  "pinData": {},
  "connections": {
    "Every 30 Minutes": {
      "main": [
        [
          {
            "node": "Read Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Google Sheets": {
      "main": [
        [
          {
            "node": "Filter by Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter by Status": {
      "main": [
        [
          {
            "node": "Add email if missing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create/Update HubSpot Contact": {
      "main": [
        [
          {
            "node": "Read Google Sheets WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Google Sheets WhatsApp": {
      "main": [
        [
          {
            "node": "Filter by Status WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter by Status WhatsApp": {
      "main": [
        [
          {
            "node": "set email if missing WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add email if missing": {
      "main": [
        [
          {
            "node": "Create/Update HubSpot Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set email if missing WhatsApp": {
      "main": [
        [
          {
            "node": "Create/Update HubSpot Contact WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c38ae7a3-7bc5-4e34-b6b7-c31a2248cfb5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "20fe66f5309446fa764b12af171bce6280580269eb5061301aed4d30f1fcafbd"
  },
  "id": "ZCY4y6ur9qv0jVbG",
  "tags": []
}