docs/n8n_references_rizzult/Rizzult Email.json
{
  "name": "Rizzult Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "86242c50-69ed-44f0-b8d1-9b378ce67b11",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -944,
        128
      ],
      "id": "793736e4-2748-4224-8356-f0b5244a2fd3",
      "name": "Webhook",
      "webhookId": "86242c50-69ed-44f0-b8d1-9b378ce67b11"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Zg-ER4ZlhlHuLFWya_ROi5VuMJ6ld_ERh3ONcB2sJ3s/edit",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1432778740,
          "mode": "list",
          "cachedResultName": "Replies 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Zg-ER4ZlhlHuLFWya_ROi5VuMJ6ld_ERh3ONcB2sJ3s/edit#gid=1432778740"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "from_email": "={{ $('Webhook').item.json.body.from_email }}",
            "to_email": "={{ $('Webhook').item.json.body.to_email.toLowerCase() }}",
            "text": "={{ $('Webhook').item.json.body.preview_text }}",
            "last name": "={{ $('HTTP get lead data').item.json.last_name }}",
            "Linkedin": "={{ $('HTTP get lead data').item.json.linkedin_profile }}",
            "Company ": "={{ $('HTTP get lead data').item.json.company_name }}",
            "Website": "={{ $('HTTP get lead data').item.json.website }}",
            "target_lead_email": "={{ $json.email }}",
            "Company Location": "={{ $('HTTP get lead data').item.json.location }}",
            "Employees": "={{ $('HTTP get lead data4').item.json.custom_fields.#_Employees }}",
            "Position": "={{ $('HTTP get lead data').item.json.custom_fields.title }}",
            "campaign": "={{ $('Webhook').item.json.body.campaign_name }}",
            "campaign_id": "={{ $('Webhook').item.json.body.campaign_id }}",
            "first name": "={{ $('HTTP get lead data').item.json.first_name }}",
            "time": "={{ new Date($('Webhook').item.json.body.event_timestamp).toISOString().replace('T', ' ').slice(0, 19).toString(); }}",
            "created time": "={{ $json.created_at }}",
            "segment": "={{ $('HTTP get lead data').item.json.custom_fields.segment }}"
          },
          "matchingColumns": [
            "to_email"
          ],
          "schema": [
            {
              "id": "first name",
              "displayName": "first name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last name",
              "displayName": "last name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Position",
              "displayName": "Position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Linkedin",
              "displayName": "Linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "target_lead_email",
              "displayName": "target_lead_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "segment",
              "displayName": "segment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company ",
              "displayName": "Company ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Location",
              "displayName": "Company Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Employees",
              "displayName": "Employees",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "campaign",
              "displayName": "campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "campaign_id",
              "displayName": "campaign_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "from_email",
              "displayName": "from_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "to_email",
              "displayName": "to_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created time",
              "displayName": "created time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        832,
        -208
      ],
      "id": "4a807889-b5fc-45c7-a757-e9e544b99eef",
      "name": "insert or update row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "959KTe6xTH1SnzmJ",
          "name": "Google Sheets Sally account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.event_type }}",
                    "rightValue": "EMAIL_REPLY",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "83064968-31b1-4a41-adf0-a7f22157384b"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "aa188004-8439-49a2-90ca-40c6d47a9396",
                    "leftValue": "={{ $('Webhook').item.json.body.event_type }}",
                    "rightValue": "LEAD_CATEGORY_UPDATED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a908e837-2f28-49b9-8e9e-49ee36d3cfb2",
                    "leftValue": "={{ $('Webhook').item.json.body.event_type }}",
                    "rightValue": "EMAIL_SENT",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        80,
        128
      ],
      "id": "698af7f5-8fa2-46e3-830b-1630e364c8ae",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Zg-ER4ZlhlHuLFWya_ROi5VuMJ6ld_ERh3ONcB2sJ3s/edit?gid=1432778740#gid=1432778740",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1432778740,
          "mode": "list",
          "cachedResultName": "Replies 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Zg-ER4ZlhlHuLFWya_ROi5VuMJ6ld_ERh3ONcB2sJ3s/edit#gid=1432778740"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "to_email": "{{ $('Webhook').item.json.body.to_email.toLowerCase() }}",
            "category": "{{ $('Webhook').item.json.body.category_name }}"
          },
          "matchingColumns": [
            "to_email"
          ],
          "schema": [
            {
              "id": "first name",
              "displayName": "first name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last name",
              "displayName": "last name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Position",
              "displayName": "Position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Linkedin",
              "displayName": "Linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "target_lead_email",
              "displayName": "target_lead_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "segment",
              "displayName": "segment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company ",
              "displayName": "Company ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Location",
              "displayName": "Company Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Employees",
              "displayName": "Employees",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "campaign",
              "displayName": "campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "campaign_id",
              "displayName": "campaign_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "from_email",
              "displayName": "from_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "to_email",
              "displayName": "to_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created time",
              "displayName": "created time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1472,
        432
      ],
      "id": "831d414f-3c55-4387-ac67-f0a22739ed42",
      "name": "update lead category",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "959KTe6xTH1SnzmJ",
          "name": "Google Sheets Sally account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://server.smartlead.ai/api/v1/leads/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $('Webhook').item.json.body.to_email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        496,
        1024
      ],
      "id": "0a9e1ee4-d632-473b-bed5-3c8068ef4812",
      "name": "HTTP get lead data1",
      "credentials": {
        "httpQueryAuth": {
          "id": "vrE099U2unQ1Y4kO",
          "name": "Smartlead API Key"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Zg-ER4ZlhlHuLFWya_ROi5VuMJ6ld_ERh3ONcB2sJ3s/edit?pli=1&gid=568952264#gid=568952264",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 568952264,
          "mode": "list",
          "cachedResultName": "Event Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Zg-ER4ZlhlHuLFWya_ROi5VuMJ6ld_ERh3ONcB2sJ3s/edit#gid=568952264"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "to_email": "{{ $('Webhook').item.json.body.to_email }}",
            "event type": "{{ $('Webhook').item.json.body.event_type }}",
            "id": "{{ $('HTTP get lead data1').item.json.id }}",
            "campaign id": "{{ $('Webhook').item.json.body.campaign_id }}",
            "segment": "{{ $('HTTP get lead data1').item.json.custom_fields.segment }}",
            "first name": "{{ $('HTTP get lead data1').item.json.first_name }}",
            "last name": "{{ $('HTTP get lead data1').item.json.last_name }}",
            "linkedin": "{{ $('HTTP get lead data1').item.json.linkedin_profile }}",
            "job title": "{{ $('HTTP get lead data1').item.json.custom_fields.title }}",
            "company name": "{{ $('HTTP get lead data1').item.json.company_name }}",
            "company url": "{{ $('HTTP get lead data1').item.json.website }}",
            "from_email": "{{ $('Webhook').item.json.body.from_email }}",
            "time": "{{ new Date($('Webhook').item.json.body.event_timestamp).toISOString().replace('T', ' ').slice(0, 19).toString(); }}",
            "created time": "{{ new Date($('HTTP get lead data1').item.json.created_at).toISOString().replace('T', ' ').slice(0, 19).toString(); }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "event type",
              "displayName": "event type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "campaign id",
              "displayName": "campaign id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "segment",
              "displayName": "segment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "first name",
              "displayName": "first name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last name",
              "displayName": "last name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin",
              "displayName": "linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job title",
              "displayName": "job title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company name",
              "displayName": "company name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company url",
              "displayName": "company url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "target_lead_email",
              "displayName": "target_lead_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "from_email",
              "displayName": "from_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "to_email",
              "displayName": "to_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created time",
              "displayName": "created time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        752,
        1024
      ],
      "id": "4fa5c0a3-07a6-4007-9308-0f68ad7330af",
      "name": "log event first sent",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "959KTe6xTH1SnzmJ",
          "name": "Google Sheets Sally account"
        }
      }
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "email",
              "value": "={{ $('Webhook').item.json.body.to_email }}"
            },
            {
              "key": "campaign",
              "value": "={{ $('Webhook').item.json.body.campaign_name }}"
            },
            {
              "key": "type",
              "value": "={{ $('Webhook').item.json.body.event_type }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        -384,
        128
      ],
      "id": "0055fb9a-0123-44ec-8eb5-bbd1a077843a",
      "name": "Execution Data"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "email",
              "value": "={{ $('Webhook').item.json.body.to_email }}"
            },
            {
              "key": "campaign",
              "value": "={{ $json.lead_campaign_data[0].campaign_name }}"
            },
            {
              "key": "website",
              "value": "={{ $json.website }}"
            },
            {
              "key": "company_name",
              "value": "={{ $json.company_name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        832,
        -16
      ],
      "id": "c95b636e-0324-4d52-8fb7-933298ec2d83",
      "name": "Execution Data1"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09VB1QATCM",
          "mode": "id"
        },
        "text": "=🎯 *New Lead Reply!*\n\n💬 *Latest Reply:*\n{{ $('Parse Conversation').item.json.latestReply }}\n\n━━━━━━━━━━━━━━━\n\n👤 *Lead:* {{ $('Webhook').item.json.body.to_name }} from {{ $('HTTP get lead data').item.json.company_name }}, {{ $('HTTP get lead data').item.json.website }}\n*Email:* {{ $('Webhook').item.json.body.to_email }}\n*Campaign:* {{ $('Webhook').item.json.body.campaign_name }}\n*Time:* {{ $('Time').item.json.formatted_time }}\n\n<{{ $('Webhook').item.json.body.ui_master_inbox_link }}|🔗 Open in Smartlead →>\n\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        3920,
        -368
      ],
      "id": "6047b171-7b64-4965-b02a-912ab4e58949",
      "name": "Send a message",
      "webhookId": "5812fb0f-19a6-4a44-be54-50c8c45fd09b",
      "credentials": {
        "slackApi": {
          "id": "WiuZ6kXOyCMkPalb",
          "name": "Slack account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get webhook data\nconst replyBodyHtml = $('Webhook').item.json.body.reply_body || '';\nconst sentMessageText = $('Webhook').item.json.body.sent_message.text || '';\nconst latestReply = $('Webhook').item.json.body.preview_text || '';\nconst leadName = $('Webhook').item.json.body.to_name || 'Lead';\nconst CompanyName = $('HTTP get lead data').item.json.company_name || 'Unknown Company';const leadEmail = $('Webhook').item.json.body.to_email || 'Unknown Email';\nconst replyDate = $('Webhook').item.json.body.time_replied \n  ? new Date($('Webhook').item.json.body.time_replied).toLocaleString('en-GB', { timeZone: 'Europe/Paris', year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' })\n  : 'Unknown Date';\n\n// Clean text function\nfunction clean(text) {\n  return text\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&quot;/g, '\"')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&#39;/g, \"'\")\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\n// Extract ALL messages - ИСПРАВЛЕННОЕ регулярное выражение\nconst allMessages = [];\n\n// Попробуем найти любые div-ы (с dir=\"ltr\" или без)\nconst matches = replyBodyHtml.match(/<div[^>]*>([^<]*(?:<[^>]+>[^<]*)*?)<\\/div>/gi);\n\nif (matches) {\n  matches.forEach(match => {\n    const text = clean(match);\n    if (text && \n        text.length > 5 && \n        !text.toLowerCase().includes('petr') && \n        !text.toLowerCase().includes('cpo') && \n        !text.toLowerCase().includes('sally') &&\n        !text.includes('https://')) {\n      if (!allMessages.includes(text)) {\n        allMessages.push(text);\n      }\n    }\n  });\n}\n\n// FALLBACK: если allMessages пустой, добавляем хотя бы latestReply\nif (allMessages.length === 0 && latestReply) {\n  allMessages.push(clean(latestReply));\n}\n\n// Build conversation for OpenAI (plain text, no HTML)\nlet conversationForOpenAI = \n  `Date: ${replyDate}\\n` + \n  `Company: ${CompanyName}\\n` + \n  `Lead: ${leadName}\\n` + \n  `Email: ${leadEmail}\\n` + \n  `Latest Reply:\\n${clean(latestReply)}\\n\\n`;\n\nif (allMessages.length > 1) {\n  conversationForOpenAI += `Previous Messages:\\n`;\n  for (let i = 1; i < allMessages.length; i++) {\n    conversationForOpenAI += `${leadName}: ${allMessages[i]}\\n`;\n  }\n}\n\nconversationForOpenAI += `\\nYour First Message:\\n${clean(sentMessageText)}`;\n\n// Return EVERYTHING needed for downstream nodes\nreturn [{\n  json: {\n    // For OpenAI\n    conversation_for_openai: conversationForOpenAI,\n    full_conversation_text: conversationForOpenAI,\n    \n    // Для Slack и следующих шагов\n    allMessages: allMessages, // Теперь ТОЧНО будет массив\n    latestReply: latestReply,\n    leadName: leadName,\n    sentMessageText: sentMessageText,\n    \n    // Debug info\n    debug_allMessages_length: allMessages.length,\n    debug_replyBodyHtml: replyBodyHtml\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        -16
      ],
      "id": "a065b585-ba46-44e2-9adc-8e000e74d4a3",
      "name": "Parse Conversation"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "GPT-5-NANO"
        },
        "messages": {
          "values": [
            {
              "content": "You are an email classification assistant. Your task is to analyze email conversations and determine if the lead's reply is:\n- \"OOO\" (Out of Office) - automated replies indicating the person is away, unavailable, on vacation, or using an auto-responder\n- \"LIVE\" (Live Human) - genuine human responses showing interest, asking questions, or engaging in real conversation\n\nRespond with ONLY ONE WORD: either \"OOO\" or \"LIVE\". No explanation, no punctuation, just the classification.",
              "role": "system"
            },
            {
              "content": "=Analyze this email conversation and classify the lead's response:\n\n{{ $('Parse Conversation').item.json.latestReply }}\n\nClassification (OOO or LIVE):"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1200,
        -16
      ],
      "id": "bd172e9c-34ae-4ecc-a9a4-f37af8a96399",
      "name": "Classifier",
      "credentials": {
        "openAiApi": {
          "id": "stJ64BjlIZjXRQK0",
          "name": "OpenAi account Rizzult"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ac3f0d4-c226-4131-be7e-8f011a1442a6",
              "leftValue": "={{ $json.message.content }}",
              "rightValue": "LIVE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1472,
        -16
      ],
      "id": "400cf013-86f1-4e01-828b-0da2f5996d5a",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const t = $json.time_replied || ($('Webhook').item.json.body && $('Webhook').item.json.body.time_replied);\nconst dateParis = t ? new Date(t).toLocaleString('en-GB', {\n    timeZone: 'Europe/Paris',\n    month: 'short',\n    day: 'numeric',\n    year: 'numeric',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false\n}) : 'no time';\nreturn {\n    ...$json,\n    formatted_time: dateParis\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        -48
      ],
      "id": "be3c74ad-c9f1-4853-9956-531473e2067f",
      "name": "Time"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e854e7b8-a1ac-4eeb-9796-967472b8c2cb",
              "leftValue": "={{ $('Category classifier').item.json.message.content }}",
              "rightValue": "Info Request",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "5c2218f3-b3fb-410e-9cba-b519d0e2f147",
              "leftValue": "={{ $('Category classifier').item.json.message.content }}",
              "rightValue": "Positive Interest",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "340bdbcb-67a7-4ac1-a193-40bee3ec28c0",
              "leftValue": "={{ $('Category classifier').item.json.message.content }}",
              "rightValue": "Objection/Concern",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2704,
        -80
      ],
      "id": "0fc49fa9-1b05-4c14-b8eb-ea1f248eddbd",
      "name": "If1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "GPT-5-NANO"
        },
        "messages": {
          "values": [
            {
              "content": "=# Email Classification Prompt:\n\n---\n\n**Your task:** Classify the prospect's email reply into exactly ONE category. Output only the category name, nothing else.\n\n---\n\n## **Categories:**\n\n### **Hard Rejection**\nExplicit, definitive refusal with no room for future conversation. The prospect clearly states they are not interested, this is not for them, or explicitly asks not to be contacted again.\n\n**Key signals:**\n- Direct statements: \"not interested,\" \"not for us,\" \"not relevant,\" \"don't contact me again\"\n- Polite but firm closure: \"we won't be pursuing this,\" \"this doesn't fit our needs\"\n- Request to be removed from communications\n- Tone: final, closed, no opening for discussion\n\n**Important:** If there's ANY qualification like \"not interested right now\" or \"not for us at this stage\" → this is **Soft Rejection**, not Hard Rejection.\n\n---\n\n### **Soft Rejection**\nThe prospect shows interest exists but timing, circumstances, or priorities prevent action now. They suggest future contact or indicate temporary barriers.\n\n**Key signals:**\n- Time-based postponement: \"maybe later,\" \"not now,\" \"reach out in Q3,\" \"contact me next year\"\n- Circumstantial barriers: \"too busy currently,\" \"priorities elsewhere right now,\" \"not ready yet\"\n- Qualified interest: \"sounds good but not the right time,\" \"interesting but can't commit now\"\n- Opens door for future: \"check back in a few months,\" \"reconnect after X\"\n\n**Important:** If they give a specific reason WHY they can't proceed (budget, timing, other priorities) but don't explicitly say \"no forever\" → this is **Soft Rejection**.\n\n---\n\n### **Info Request**\nThe prospect asks specific questions about your service, product, pricing, features, or process. They need more information or clarification before making a decision.\n\n**Key signals:**\n- Direct questions: \"How does this work?\" \"What's the pricing?\" \"Can you send more details?\"\n- Clarification requests: \"I don't understand X,\" \"Can you explain Y?\"\n- Feature inquiries: \"Does this include Z?\" \"What about integration with W?\"\n- Process questions: \"How long does implementation take?\" \"What's involved on our end?\"\n- Presentation Request: \"Can you share the report?\" \"Yes, I'd love to see your case studies\"\n\n**Important:** \n- If question includes positive framing (\"this sounds interesting, can you tell me more?\") → still **Info Request**, not Positive Interest\n- If they ask ONE simple question that can be answered in one sentence → **Info Request**\n- If they ask questions BUT also raise doubts or concerns → **Objection/Concern**\n\n---\n\n### **Positive Interest**\nThe prospect shows genuine engagement and openness. They express interest, want to learn more, suggest discussion, or ask about next steps without significant barriers or objections.\n\n**Key signals:**\n- Enthusiastic language: \"sounds interesting,\" \"this could be useful,\" \"I'd like to know more\"\n- Forward movement: \"let's discuss,\" \"tell me more,\" \"what are next steps?\"\n- Open to conversation: \"I'm interested in exploring this,\" \"would like to learn how this applies to us\"\n- Requests materials with positive framing: \"can you send me information? I'm curious\"\n\n**Important:**\n- Must show genuine engagement, not just polite acknowledgment\n- Should indicate willingness to move forward, not just passive curiosity\n- If they express interest BUT raise concerns → **Objection/Concern**\n\n---\n\n### **Meeting Scheduling**\nThe prospect explicitly agrees to have a call/meeting. They either propose specific times, ask for your availability, or confirm willingness to schedule.\n\n**Key signals:**\n- Direct agreement: \"yes, let's schedule,\" \"I'm available for a call,\" \"happy to meet\"\n- Proposes times: \"I can do Tuesday at 2pm,\" \"I'm free next week\"\n- Asks for availability: \"when are you available?\" \"send me your calendar\"\n- Confirms scheduling: \"that time works,\" \"see you on the call\"\n\n**Important:**\n- Must explicitly agree to meet, not just express interest in general\n- \"Let's discuss\" without time commitment → **Positive Interest**, not Meeting Scheduling\n- \"Maybe we can have a call sometime\" → **Soft Rejection** or **Positive Interest** depending on tone\n\n---\n\n### **Objection/Concern**\nThe prospect raises doubts, barriers, skepticism, or concerns that need addressing before they can proceed. They may express interest but identify specific obstacles.\n\n**Key signals:**\n- Pricing concerns: \"too expensive,\" \"what's the cost?\" (with skeptical tone)\n- Implementation worries: \"sounds complex,\" \"we don't have resources for this,\" \"how much work is involved?\"\n- Competitive questions: \"we already have X,\" \"how is this different from Y?\"\n- Skepticism: \"I'm not sure this would work for us,\" \"we tried something similar and it failed\"\n- Barrier identification: \"we don't have enough customers,\" \"we don't have old stock\"\n\n**Important:**\n- If they raise concern BUT also show openness (\"interested but concerned about X\") → **Objection/Concern**\n- If they raise concern AND show no interest → **Hard Rejection** or **Soft Rejection** depending on finality\n- If concern is clearly a misunderstanding → still **Objection/Concern**\n\n---\n\n## **Edge Cases & Decision Rules:**\n\n**\"Sounds interesting but we don't have budget right now\"**\n→ **Soft Rejection** (temporary barrier with implied future possibility)\n\n**\"This is interesting but we already work with X\"**\n→ **Objection/Concern** (shows interest but raises competitive barrier)\n\n**\"Not sure this is for us - can you explain more?\"**\n→ **Objection/Concern** (skepticism + info request = objection that needs handling)\n\n**\"Thanks for reaching out, but we're all set\"**\n→ **Hard Rejection** (polite but definitive closure)\n\n**\"Can you send me more information?\"** (no other context)\n→ **Info Request** (neutral information request)\n\n**\"This sounds great, when can we talk?\"**\n→ **Meeting Scheduling** (explicit willingness to schedule)\n\n**\"Let's explore this further\"**\n→ **Positive Interest** (engagement without specific scheduling commitment)\n\n**\"We'll think about it and get back to you\"**\n→ **Soft Rejection** (polite postponement, low probability of follow-up)\n\n**Out of office / automated reply**\n→ **Soft Rejection** (treat as temporary unavailability)\n\n---\n\n## **Output Format:**\n\nReturn ONLY the category name exactly as written below (case-sensitive):\n\n- Hard Rejection\n- Soft Rejection\n- Info Request\n- Positive Interest\n- Meeting Scheduling\n- Objection/Concern\n\nDo NOT include explanations, reasoning, or additional text. Only output the category name.\n\n---\n\n## **Calibration Examples:**\n\n**Example 1:**\n\"Thanks but this isn't something we're looking into right now\"\n→ **Soft Rejection**\n\n**Example 2:**\n\"Sounds interesting - how does the platform work exactly?\"\n→ **Info Request**\n\n**Example 3:**\n\"This could be useful for us. Let's schedule a call next week\"\n→ **Meeting Scheduling**\n\n**Example 4:**\n\"Interesting but we already have a liquidation partner\"\n→ **Objection/Concern**\n\n**Example 5:**\n\"Not interested, please remove me from your list\"\n→ **Hard Rejection**\n\n**Example 6:**\n\"Tell me more, I'd like to understand how this applies to our brand\"\n→ **Positive Interest**\n\n---\n\nNow classify the following email:\n\n{{ $('Parse Conversation').item.json.latestReply }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1744,
        -32
      ],
      "id": "fe18f5df-2880-4c87-ae8b-1d03ad7b5ec1",
      "name": "Category classifier",
      "credentials": {
        "openAiApi": {
          "id": "stJ64BjlIZjXRQK0",
          "name": "OpenAi account Rizzult"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-reasoning-pro\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a business researcher specializing in iGaming, online gambling, influencer marketing, and affiliate businesses. Provide concise, actionable insights focused on casino launch opportunities and pain points.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Context: Research this company/individual to gather information for a personalized sales reply. Focus on details that help tailor our white-label casino platform pitch.\\n\\nCompany/Person: {{ $('Execution Data1').item.json.company_name }}\\nWebsite: {{ $('Execution Data1').item.json.website }}\\nLinkedIn: {{ $('Execution Data1').item.json.linkedin_profile }}\\n\\n## Research Focus Areas:\\n\\n### 1. Business Overview (30 seconds scan)\\n- What do they do? (iGaming operator, affiliate network, influencer agency, casino streamer, sports betting, multi-brand operator?)\\n- Business model: B2C casino operator, affiliate/traffic arbitrage, influencer agency, content creator?\\n- Approximate scale: team size (<50 employees?), number of brands/casinos, traffic volume, social following\\n- Geographic presence: which markets do they operate in? (Europe, Southeast Asia, LatAm?)\\n- **Founders/Key People:** Briefly note key decision-makers, founders, or influencers if found quickly (names only, not full bios)\\n\\n### 2. Current Setup & Positioning\\n- Platform/technology: What platform are they currently using? (Soft2Bet, SOFTSWISS, own development, white-label provider?)\\n- Target audience: who are their players/followers? (crypto enthusiasts, sports bettors, casino players, specific demographics)\\n- Traffic sources: organic, paid ads, influencer partnerships, affiliate network?\\n- Brand positioning: premium casino, crypto-focused, sports-first, casual gaming?\\n\\n### 3. Pain Points & Opportunities (KEY SECTION)\\nLook for evidence of:\\n- **Platform complaints:** mentions of slow development, high costs, technical limitations, poor support from current provider\\n- **Launch/scaling challenges:** wanting to launch new brands, expand to new markets, difficulties with licensing\\n- **Monetization gaps:** \\n  * For affiliates: frustration with low commission rates, wanting to own the casino instead of selling traffic\\n  * For influencers/streamers: promoting other casinos via affiliate links, missing direct revenue opportunities\\n  * For agencies: selling traffic to third-party casinos instead of owning the platform\\n- **Technical dependencies:** mentions of needing developers, long integration times, tech team bottlenecks\\n- **Audience size indicators:** \\n  * Social media followers (Instagram, YouTube, Twitch, Telegram)\\n  * Website traffic (check SimilarWeb, Ahrefs if possible)\\n  * Community size (Discord, Telegram groups)\\n- **Competitor research:** Are they actively researching or mentioning competitors like Soft2Bet, other white-labels?\\n- **Market expansion signals:** mentions of wanting to enter new markets (Asia, Europe), launch additional brands\\n\\n### 4. Current Casino/Gaming Operations\\n- Do they already operate a casino? How many brands?\\n- Are they using affiliate links to promote other casinos? (check their content, bio links, partnerships)\\n- Any mentions of launching their own platform or switching providers?\\n- What's their relationship with their current provider? (complaints, praise, neutral?)\\n- Do they sell through external discount channels or traffic aggregators?\\n\\n### 5. Segment Classification\\nBased on research, classify them into ONE primary segment:\\n- **iGaming Operator (<50 employees)** - small casino operators looking to scale or launch new brands\\n- **Influencer Agency** - agencies managing influencers who could monetize their traffic\\n- **YouTuber/Streamer** - casino/sports betting content creators with audience\\n- **Affiliate** - affiliate marketers driving traffic to casinos\\n- **Casino Influencer** - individuals with casino-focused audience\\n- **Conference Participant** - iGaming professionals, potential operators\\n- **Other** - specify if different\\n\\n## Output Format:\\n\\nProvide a brief, structured summary (max 200 words). Use this exact format:\\n\\n**[COMPANY_NAME/PERSON_NAME] - Quick Research Summary**\\n\\n**Segment:** [Primary ICP segment from list above]\\n\\n**What they do:**\\n[1-2 sentences: business model, current operations, scale]\\nKey people: [e.g., Founded by John Doe (LinkedIn), CEO is Jane Smith]\\n\\n**Current setup:**\\n[1-2 sentences: current platform/tech if known, target markets, traffic sources]\\n\\n**Key pain points for Maincard pitch:**\\n- [Bullet 1: specific pain point with evidence - e.g., \\\"Currently using Soft2Bet, mentioned 6-month launch times on Twitter\\\"]\\n- [Bullet 2: opportunity angle - e.g., \\\"Has 500K YouTube followers promoting competitor casinos via affiliate links\\\"]\\n- [Bullet 3: monetization gap - e.g., \\\"Selling traffic for 20-30% rev share instead of owning the casino\\\"]\\n\\n**Audience/traffic indicators:**\\n[1 sentence: follower counts, traffic estimates, community size if found]\\n\\n**Competitive context:**\\n[1 sentence: mentions of competitors, current providers, market positioning]\\n\\n**Best hook for Maincard pitch:**\\n[1-2 sentences: what's the strongest angle based on research? Examples:\\n- \\\"You're already driving massive traffic - why not own the casino and keep 85% instead of 30%?\\\"\\n- \\\"Launch your branded casino in 30 minutes vs 6 months with your current provider\\\"\\n- \\\"Stop selling your 500K followers to competitors - launch your own branded casino\\\"]\\n\\n## What NOT to include:\\n\\n- Long company histories unless directly relevant to pain points\\n- Detailed game portfolios or technical specs\\n- Marketing fluff or generic mission statements\\n- Information not relevant to casino launch, licensing, monetization, or traffic\\n\\n## Special Instructions:\\n\\n- **For Influencers/Streamers:** Check their YouTube/Instagram/Twitch for:\\n  * Casino content frequency\\n  * Affiliate links in bio/descriptions\\n  * Audience engagement (views, comments)\\n  * Any mentions of wanting own platform\\n\\n- **For Operators:** Look for:\\n  * LinkedIn posts about platform challenges\\n  * Job postings for developers (signal of tech bottlenecks)\\n  * Press releases about new launches (timing, delays)\\n  * Reviews/mentions of their current white-label provider\\n\\n- **For Affiliates:** Search for:\\n  * \\\"[name] + casino review\\\" to see their promotion methods\\n  * Traffic sources and volume\\n  * Complaints about commission structures\\n\\n- **If limited info available:** Note this and provide what you CAN find from:\\n  * Social media profiles (even just follower count is useful)\\n  * LinkedIn activity and posts\\n  * Any press mentions or interviews\\n  * SimilarWeb for traffic estimates\\n\\n- **If they're very small/new:** Focus on potential rather than current scale:\\n  * Growing social presence\\n  * Active in iGaming communities\\n  * Recent interest in launching/expanding\\n\\n- **Geographic context:** Note if they're in our target regions (Europe, Southeast Asia) as this strengthens the pitch\\n\\n- **Research time limit:** 2-3 minutes max. Quick, actionable insights only. If you can't find much in 3 minutes, note what's missing and move on.\\n\\n## Red Flags to Note:\\n\\n- Already using Maincard or direct competitor\\n- No gaming/casino focus (totally different industry)\\n- Enterprise-scale operator (500+ employees) - outside our ICP\\n- Illegal/unlicensed operations\\n- Inactive/dead project\\n\\nNow research: {{ $('Execution Data1').item.json.company_name }} - {{ $('Execution Data1').item.json.website }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2976,
        -368
      ],
      "id": "67cd1b4c-302f-4886-8375-264a870a901b",
      "name": "Perplexity Research",
      "credentials": {
        "perplexityApi": {
          "id": "0TGeDRKBHuEFHqCW",
          "name": "Perplexity account"
        },
        "httpHeaderAuth": {
          "id": "nWw8LXhOZLNwJFHp",
          "name": "Header Auth Rizzult"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://server.smartlead.ai/api/v1/leads/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $('Webhook').item.json.body.to_email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        -512
      ],
      "id": "cc6cfe66-ac6c-49bd-b144-80b578348cd5",
      "name": "HTTP get lead data4",
      "credentials": {
        "httpQueryAuth": {
          "id": "vrE099U2unQ1Y4kO",
          "name": "Smartlead API Key"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://server.smartlead.ai/api/v1/leads/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $('Webhook').item.json.body.to_email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        576,
        -64
      ],
      "id": "ceb751e1-4c9a-44f9-a575-67a0112041b2",
      "name": "HTTP get lead data",
      "credentials": {
        "httpQueryAuth": {
          "id": "vrE099U2unQ1Y4kO",
          "name": "Smartlead API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const documentation = `\n\nHey, Anastasia! Use this document with our company info for your further work:\n\nMaincard: Company Overview & Market Positioning\n\nCompany Foundation\nMaincard is a no-code iGaming platform that enables businesses, influencers, and operators to launch fully branded online casinos in 30 minutes with complete operational support, licensing, and monetization control.\n\nFounded: 2023\nHeadquarters: United States\nTeam Size: 11-50 employees\nTrack Record: 100+ casino launches, serving operators, influencer agencies, and content creators across Europe and Southeast Asia\n\nThe company operates as a turnkey platform provider, delivering end-to-end casino solutions that eliminate technical barriers. Brands can launch licensed casinos without developers, without months of waiting, and without building operational infrastructure.\n\nCore Platform Capabilities\n\nFull Lifecycle Management\nThe platform handles every stage of casino operations:\n- Game integration (15,000+ games from 120+ providers via Hub88)\n- Sportsbook (1,000+ leagues)\n- Payment processing (crypto + fiat, <1% fees)\n- KYC and fraud prevention\n- Customer support (24/7)\n- CRM and player management\n- Licensing (Anjouan & Tobique, 185+ countries)\n- Compliance and regulatory reporting\n\nThree Revenue Capture Models\n\n1. Own Your Casino vs. Affiliate Commissions\nInfluencers and affiliates currently drive traffic to other casinos for 20-30% revenue share. Maincard lets them launch their own branded casino and keep 85% of revenue—same traffic, 3x the earnings.\n\n2. Launch Multiple Brands Fast\nOperators launch new standalone casino brands in 30 minutes instead of 6+ months. Same framework Megapari uses: multiple brands = more traffic capture, more market penetration, more revenue without operational overhead multiplication.\n\n3. Platform Migration and Cost Reduction\nOperators currently paying $40K+ upfront and $1M+ annually on Soft2Bet or SOFTSWISS can migrate to Maincard, saving 40-60% on operational costs while gaining faster launch capabilities for new markets.\n\nKey Differentiators\n\nSpeed: 30 minutes to launch vs. 6+ months with competitors\nPrice: $19,999 one-time (All-in Pro) or $799/month (Cautious Creator) vs. $40K+ setup + $1M+ annual ops\nNo-Code: 100+ customization options without developers vs. requiring dedicated tech teams\nFull Operations: KYC, CRM, payments, support, fraud prevention included vs. hiring specialists\nWeb2 + Web3: Crypto and fiat with <1% fees vs. fiat-only or 1-5% commission structures\nLicensed: Launch under our Anjouan & Tobique licenses vs. going through licensing yourself\nProven Framework: Same model major operators use to scale fast\n\nMarket Context: Industry Challenges\n\nCritical Problems Facing iGaming Operators & Traffic Owners\n\nFor Small Operators (<50 employees):\n- Platform Lock-in: Stuck with expensive, slow white-label providers\n- Dev Dependencies: 6-12 month launch cycles requiring dedicated engineering teams\n- High Costs: $40K+ upfront, $100K-$500K development, $1M+ annual operations\n- Scaling Bottlenecks: Can't launch new brands fast enough to capture market opportunities\n- Technical Complexity: Payment integrations, KYC, fraud prevention require specialized expertise\n\nFor Influencers, Streamers & Affiliates:\n- Revenue Leakage: Driving traffic to other casinos for 20-30% commissions instead of owning the platform\n- No Control: Promoting competitors' brands, building their player base, not their own\n- Low Margins: Making $20K when they could make $57K on the same $100K in player losses\n- Generic Experience: Can't customize casino to match their brand, audience, or content style\n- Dependency: At mercy of affiliate program changes, commission cuts, or account terminations\n\nFor Influencer Agencies:\n- Traffic Sales: Selling influencer traffic to casinos instead of owning the monetization infrastructure\n- Commission Models: 20-30% rev share when they could keep 85% by owning the casino\n- Scalability Issues: Can't quickly launch branded casinos for multiple influencers in their network\n- No Ecosystem Control: Influencers promote external casinos, agencies capture minimal value\n\nInadequate Traditional Solutions:\n- In-house development: 6-12 months, $500K+, ongoing maintenance costs, technical debt\n- Soft2Bet/SOFTSWISS: Expensive, slow, requires significant operational teams\n- Template platforms: Limited customization, poor support, hidden costs\n- Staying in affiliate model: Leaving 70% of potential revenue on the table\n\nThe White-Label Casino Market Opportunity\n\nThe iGaming market is growing rapidly, driven by:\n- Regulatory expansion in emerging markets (Southeast Asia, LatAm, Africa)\n- Crypto adoption creating new player demographics\n- Influencer-driven traffic monetization opportunities\n- Multi-brand strategies becoming standard for market penetration\n- Need for speed in launching new brands to capture seasonal opportunities\n\nSpecific Pain Point:\nOperators with traffic want to launch new brands but face 6-month dev cycles\nCurrent solution: Staying with expensive platforms or building in-house\nReality: Fast-moving operators launch multiple brands—question is whether they do it in months or minutes\n\nMarket Insight:\nMulti-brand casino strategies are inevitable for modern operators\nBusinesses can either wait months with traditional platforms or launch instantly with Maincard\nMaincard provides the infrastructure operators need to move at market speed, not platform speed\n\nBrand Adoption Dynamics\n\nInternal Champions\n\nFor Operators:\n- CEO/Founder: Seeking faster time-to-market and new revenue streams\n- Head of Growth: Looking to test new markets and audience segments quickly\n- CTO: Wanting to eliminate technical debt and dev team bottlenecks\n\nFor Influencers/Agencies:\n- Business Managers: Evaluating revenue optimization vs. current affiliate deals\n- Finance/CFO: Analyzing economics of ownership vs. commission structures\n- Content Leads: Seeking branded experiences that match influencer aesthetic\n\nDecision-Making Authority\n\nSmall operators (CEO/Founder) make decisions based on:\n- Speed to market and opportunity cost\n- Total cost of ownership vs. current platform\n- Operational simplicity (no tech team required)\n- Revenue projections and breakeven timeline\n\nInfluencers/Agencies evaluate based on:\n- Revenue delta: 85% vs. 20-30% commissions\n- Brand control and audience fit\n- Risk vs. reward (traffic they already have)\n- Compliance and licensing handled\n\nCommon Pain Points Prospects Face\n\nResource Drain: Building in-house requires 6-12 months and engineering teams\nPlatform Costs: Current white-labels charge $40K+ setup + $1M+ annually\nSpeed Issues: Can't launch new brands fast enough to capture market opportunities\nTechnical Complexity: KYC, payments, fraud prevention, game integrations require expertise\nRevenue Leakage: Affiliates/influencers selling traffic for 20-30% when they could own the casino\nLicensing Barriers: Obtaining gaming licenses takes 6-12 months and significant capital\n\nAddressing the \"Cannibalization\" Fear\n\nOperators worry launching new brands will cannibalize existing casinos. Data shows the opposite:\n- Multi-brand strategies capture different audience segments\n- New brands target different markets/demographics without overlap\n- Players who would go to competitors stay within your brand family\n- Each brand serves distinct traffic sources and marketing channels\n- Megapari model proves multiple brands = exponential growth, not cannibalization\n\nCasino Performance Metrics\n\nRevenue Contribution\nPost-launch, branded casinos capture revenue that was previously going to:\n- Competitors (for new operators)\n- Other casinos via affiliate links (for influencers)\n- Lost opportunities (for operators stuck in slow dev cycles)\n\nEconomics Comparison\n\nAffiliate Model:\n- 20-30% revenue share\n- Example: $100K player losses = $20K-$30K earnings\n- No control, no brand, no player data\n\nOwnership Model (Maincard):\n- 85% revenue share (15% to Maincard)\n- Example: $100K player losses = $85K earnings\n- Full control, branded experience, own player database\n- 2.8x to 4.25x revenue increase on same traffic\n\nCapital Efficiency\nLaunch in 30 minutes vs. 6-12 months\n$19,999 vs. $40K-$500K+ in development costs\nFixed monthly ops vs. hiring 10-20 specialists\n\nOrganic Growth Indicators\nTraffic converts better on branded casinos vs. generic affiliate links\nStreamers see higher engagement when promoting their own casino\nAgencies can launch multiple brands for different influencer niches\nOperators can test new markets in 30 minutes instead of waiting quarters\n\nCase Studies\n\nCase Study 1: Mid-Size Operator - Multi-Brand Launch Strategy\nProfile: European iGaming operator, 30 employees, running main casino on Soft2Bet\nChallenge: Wanted to launch 3 additional branded casinos for different market segments but faced 6+ month dev cycles and $150K+ costs per brand\n\nSolution: Kept main brand on Soft2Bet, used Maincard for new brand launches\nResults:\n- Launch timeline: 3 brands live in 90 minutes total (30 min each)\n- Cost savings: $19,999 per brand vs. $150K+ traditional approach\n- Revenue: Each new brand generating $30K-$80K monthly within 90 days\n- Operational overhead: Zero - Maincard handles all ops\n- Traffic sources: Different marketing channels, no main brand cannibalization\n\nKey Insight: \"We're not replacing our main platform. We're using Maincard to move faster than our competitors can. By the time they launch one brand, we've launched four.\"\n\nBusiness Impact: Captured market segments competitors couldn't reach quickly enough. Saved $400K+ in development costs. Generated new revenue streams with zero operational team expansion.\n\nCase Study 2: Casino Streamer - Affiliate to Ownership Conversion\nProfile: Twitch streamer, 85K followers, earning $8K/month through affiliate links to external casinos\n\nChallenge: Promoting competitors' casinos, earning 25% commissions, no brand control, audience asking \"when will you launch your own casino?\"\n\nSolution: Launched branded casino with Maincard matching streamer's visual identity\nResults:\n- Timeline: Live in 30 minutes, announced to audience same day\n- First month revenue: $18K (same traffic volume)\n- Month 3 revenue: $32K (audience grew organically, engagement increased)\n- Commission comparison: Was earning $8K on $32K in player volume, now keeping $27.2K (85%)\n- Audience response: \"Finally feels authentic, not just pushing someone else's platform\"\n- Stream integration: Casino on-screen during streams, viewers play on streamer's branded site\n\nKey Insight: \"I was building someone else's casino. Now I'm building mine. Same content, same audience, 3.4x the revenue.\"\n\nBusiness Impact: Tripled monthly earnings with identical traffic. Audience engagement increased because promotion feels authentic. Retained full player data for retargeting and loyalty programs. Streamer now building long-term asset (player base) vs. temporary affiliate income.\n\nCase Study 3: Influencer Agency - Traffic Monetization Infrastructure\nInitial Situation:\n- Agency managing 12 influencers across sports/casino content\n- Combined audience: 850K followers\n- Revenue model: Selling traffic via affiliate deals for 20-30% commissions\n- Monthly agency earnings from gambling affiliates: $45K\n\nMaincard Implementation:\n- Launched 3 branded casinos (one for sports betting niche, one for slots, one for crypto audience)\n- Distributed influencers across appropriate branded casinos\n- Standard 30-minute setup per casino\n\nRevenue Progression:\n- Month 1: $68K (same traffic, different economics)\n- Month 3: $95K (optimization, better audience targeting per casino)\n- Month 6: $140K+ (compounding effect, influencers promoting their own ecosystem)\n\nOutcome: Agency now owns the infrastructure instead of selling traffic to external operators\n\nCritical Insight: Agency stopped being a middleman and became the operator. Same influencers, same content, 3x the revenue. Plus they now own player data, can cross-promote between brands, and have full control over offers and bonuses.\n\nPattern Analysis Across Case Studies\n\nSuccess factors across all implementations:\n- Speed enables experimentation: Launch in minutes, test markets, iterate\n- Economics speak for themselves: 85% vs. 20-30% = no-brainer for anyone with traffic\n- Operational simplicity: No hiring required, Maincard handles everything\n- Brand control: Audiences respond better to authentic branded experiences\n- Scalability: Works for 5K followers or 500K followers\n- Risk mitigation: Low upfront cost ($799/month option) removes barrier to entry\n\nIdeal Customer Profile\n\nPrimary Target Segments\n\niGaming Operators (<50 employees)\n- Size: 5-50 employees, $500K-$10M annual revenue\n- Current platform: Soft2Bet, SOFTSWISS, or considering launch\n- Pain points: Slow launch cycles, high costs, dev dependencies\n- Use case: Launch additional brands fast or migrate from expensive platforms\n- Geography: Europe (Malta, Cyprus, UK), Southeast Asia (Philippines, Malaysia, Indonesia)\n\nInfluencer Agencies\n- Size: 5-20 employees, managing 5-50 influencers\n- Current model: Selling traffic via affiliate networks for 20-30% commissions\n- Pain points: Revenue leakage, no control, dependency on external operators\n- Use case: Launch branded casinos for influencer portfolios, capture 85% vs. 30%\n- Traffic: Combined network driving 50K-500K+ monthly visits\n\nYouTubers/Streamers (Casino & Sports Content)\n- Audience: 10K-500K+ followers on YouTube, Twitch, Instagram\n- Current model: Affiliate links earning 20-30% commissions\n- Pain points: Building competitors' brands, low margins, no authenticity\n- Use case: Launch personal branded casino matching their content aesthetic\n- Traffic: Regular content driving 5K-50K monthly engaged viewers\n\nAffiliates\n- Type: Affiliate marketers driving casino traffic\n- Current model: Promoting multiple casinos for rev share deals\n- Pain points: Low commissions, no brand equity, platform dependency\n- Use case: Own the casino instead of promoting others' casinos\n- Traffic: SEO, paid ads, or other channels driving consistent player acquisition\n\nCasino Influencers\n- Platform: Instagram, TikTok, Telegram communities\n- Audience: 5K-100K+ engaged followers interested in gambling\n- Current model: Affiliate links, sponsored posts\n- Use case: Launch branded casino for their community\n- Geography: Flexible, often emerging markets\n\nConference Participants / iGaming Professionals\n- Profile: Industry professionals, former operators, consultants\n- Context: Active in iGaming ecosystem, understand industry\n- Use case: Side projects, consulting clients, entrepreneurial ventures\n- Geography: Global, concentrated in iGaming hubs\n\nFirmographic Criteria\n- Revenue: $100K-$10M annual (for operators) or equivalent traffic value (for influencers)\n- Team Size: 1-50 employees\n- Customer/Audience Base: Minimum 5K active followers or traffic source\n- Geography: Europe, Southeast Asia (primary); Global (secondary)\n- Business Stage: Established traffic or existing operations seeking growth\n\nPsychographic Indicators\n- Entrepreneurial mindset: Want to own assets, not just earn commissions\n- Speed-focused: Value moving fast over lengthy planning\n- Economics-driven: Understand commission vs. ownership math\n- Risk-aware but action-oriented: Willing to experiment with proven frameworks\n- Independence-seeking: Want control over their business model\n\nRed Flags (Anti-ICP)\n- No existing traffic or audience\n- Expecting Maincard to drive traffic for them\n- Looking for \"turnkey\" in the sense of zero work required\n- Illegal/unlicensed operations mindset\n- Enterprise operators (500+ employees) - outside our sweet spot\n- \"Tire kickers\" with no intention to launch\n\nCustomer Segments: Jobs to Be Done\n\nSegment 1: Small iGaming Operators Seeking Multi-Brand Strategy\nDecision Makers: CEO, Head of Growth\nCore Job: Launch new casino brands fast to capture different market segments, test new offers, and penetrate markets before competitors—without multiplying operational overhead or waiting months for development.\n\nSuccess Criteria:\n- New brand live in days, not quarters\n- Zero additional operational team needed\n- Each brand runs independently with separate branding\n- Cost per brand predictable and affordable\n- Full control over offers, bonuses, and UX per brand\n\nPersonal Job: Prove to board/investors that multi-brand strategy delivers incremental revenue, demonstrate ability to move faster than competitors, avoid being blocked by platform limitations, and build reputation as growth-oriented leader who executes rapidly.\n\nSegment 2: Casino Streamers/YouTubers Maximizing Audience Monetization\nDecision Makers: Influencer (self), Business Manager\nCore Job: Stop promoting other casinos and launch own branded casino to authentically monetize audience, increase revenue per viewer, and build long-term asset (player database) instead of temporary affiliate income.\n\nSuccess Criteria:\n- Casino matches personal brand aesthetically\n- Launch announced to audience immediately\n- 3x+ revenue increase on same traffic\n- Audience responds positively to \"finally your own casino\"\n- Easy integration into content (on-screen, links, promotions)\n\nPersonal Job: Build something that's actually mine, stop feeling like I'm just advertising for competitors, prove to audience I'm serious about this long-term, dramatically increase monthly income without changing content strategy, and create asset with real equity value.\n\nSegment 3: Influencer Agencies Owning Monetization Infrastructure\nDecision Makers: Agency CEO, Head of Partnerships\nCore Job: Stop selling influencer traffic to external operators and own the casino infrastructure, capturing 85% of revenue instead of 20-30% commissions, while scaling across multiple influencers and niches.\n\nSuccess Criteria:\n- Launch multiple branded casinos for different influencer niches\n- Revenue per influencer increases 3-4x\n- Agency owns player data and can cross-promote\n- Operational complexity doesn't increase\n- Influencers feel more authentic promoting agency-owned platforms\n\nPersonal Job: Transform agency from middleman to operator, dramatically increase revenue without increasing headcount, prove strategic vision to stakeholders, own the infrastructure layer of influencer monetization, and build defensible business model with real assets.\n\nSegment 4: Affiliates Converting to Operators\nDecision Makers: Affiliate (self), Business Partner\nCore Job: Own the casino instead of promoting other operators' casinos, keep 85% of revenue instead of 20-30% affiliate commissions, build brand equity instead of being traffic source for others.\n\nSuccess Criteria:\n- Same traffic, 3-4x revenue\n- Own player database and lifetime value\n- Full control over offers, bonuses, retention strategies\n- Platform handles all operations (KYC, payments, support)\n- Can scale without operational team growth\n\nPersonal Job: Stop building other people's businesses, capture the full value of traffic I've worked years to build, own an actual business with equity value, escape the \"affiliate treadmill\" where commissions can be cut anytime, and build something I can eventually exit or scale significantly.\n\nSegment 5: iGaming Entrepreneurs Testing New Markets\nDecision Makers: Founder, Co-Founder\nCore Job: Test casino concept in new market or niche quickly and cheaply before committing to full platform build, validate product-market fit with real players, and avoid $100K+ dev costs on unproven ideas.\n\nSuccess Criteria:\n- Launch in 30 minutes to start testing immediately\n- Low upfront cost ($799/month option)\n- Real players, real money, real feedback\n- Can iterate quickly on offers and positioning\n- If it works, scale fast; if not, minimal loss\n\nPersonal Job: Validate my idea without burning capital, move faster than competitors who are still in development, prove concept to potential investors with real traction, and avoid the risk of spending 6+ months building something the market doesn't want.\n\nStrategic Benefits for Operators & Traffic Owners\n\nFinancial Impact\n- Revenue Multiplication: 85% vs. 20-30% on same traffic = 3-4x earnings increase\n- Cost Avoidance: $19,999 vs. $40K+ setup and $1M+ annual ops savings\n- Speed to Market: 30 minutes vs. 6+ months = capture opportunities competitors miss\n- Capital Efficiency: No dev team, no ops team, no tech infrastructure investment\n- Predictable Costs: Fixed pricing vs. variable/hidden costs with traditional platforms\n\nTraffic & Audience Benefits\n- Authentic Promotion: \"My casino\" vs. \"sponsor's casino\" drives better conversion\n- Brand Control: Match casino UX/design to content aesthetic and audience preferences\n- Player Data Ownership: Build retargetable database instead of giving it to others\n- LTV Capture: Own the lifetime value of players vs. one-time affiliate commissions\n- Cross-Promotion: Multiple brands can feed each other (sports → casino, etc.)\n\nOperational & Strategic Advantages\n- Zero Hiring: No need for KYC specialists, payment processors, customer support, fraud analysts\n- Licensing Solved: Launch under Maincard licenses (Anjouan & Tobique, 185+ countries)\n- Rapid Iteration: Test markets, offers, and brands in 30 minutes instead of months\n- Risk Mitigation: Low cost of experimentation vs. massive upfront investment\n- Scalability: Platform scales with you—works for 100 players or 100,000 players\n\nCompetitive Positioning\n- First-Mover Advantage: Launch before competitors finish development\n- Market Penetration: Multiple brands capture more segments than single brand\n- Independence: Own your infrastructure vs. dependency on affiliate programs\n- Defensibility: Player database and brand equity create moat vs. being replaceable traffic source\n\nCompetitive Landscape\n\nGeographic Opportunity\n- Competitor Concentration: Soft2Bet, SOFTSWISS dominate European mid-market\n- Underserved Segments: Influencers, small operators, affiliates ignored by enterprise platforms\n- Emerging Markets: Southeast Asia, LatAm growth creating demand for fast, affordable launches\n- Maincard Advantage: Purpose-built for speed and simplicity vs. enterprise complexity\n\nTechnical Differentiation\n- 30-Minute Launch: vs. 6+ months with Soft2Bet, SOFTSWISS, Lion Gaming\n- No-Code Customization: 100+ options vs. requiring dev teams\n- Full Ops Included: KYC, CRM, payments, support in base price vs. hiring separately\n- Web2 + Web3: Crypto and fiat <1% fees vs. fiat-only or high fees\n- Hub88 Integration: 15,000+ games, 120+ providers instant access\n\nPricing Advantage\n- Maincard: $19,999 one-time (All-in Pro) or $799/month (Cautious Creator) + 15% rev share\n- Soft2Bet: Setup costs undisclosed, estimated $40K-$100K+ setup, monthly fees, revenue share\n- SOFTSWISS: Similar to Soft2Bet, complex pricing, high operational requirements\n- In-house build: $100K-$500K dev + $1M+ annual ops\n\nValue Proposition: 80-90% cost savings with faster speed and no operational complexity.\n\nCompetitive Solutions Analysis\n\nTraditional White-Labels (High Awareness, High Friction)\n- Soft2Bet: 6+ months launch, high costs, template-based, requires operational teams\n- SOFTSWISS: Similar to Soft2Bet, strong reputation but expensive and slow\n- Lion Gaming: Fer0x platform, 2-6 weeks, still requires technical knowledge\n- GBO: Budget option, Anjouan license, faster but limited customization\n\nMaincard Positioning:\n- Faster than all (30 minutes vs. weeks/months)\n- Cheaper than all ($19,999 vs. $40K++)\n- Simpler than all (no-code vs. technical requirements)\n- Full ops included (vs. hiring teams)\n\nAffiliate Networks (High Volume, Low Value Capture)\n- Traditional affiliate deals: 20-30% commissions\n- No brand ownership\n- No player data\n- No control\n\nMaincard Positioning:\n- Own the casino, keep 85%\n- Build brand equity\n- Own player database\n- Full control\n\nIn-House Development (Highest Control, Highest Barrier)\n- 6-12 months development\n- $100K-$500K+ costs\n- Ongoing maintenance and tech debt\n- Requires specialized engineering team\n\nMaincard Positioning:\n- Launch in 30 minutes\n- $19,999 one-time\n- Zero maintenance burden\n- No engineers needed\n\nTechnology & Integration\n\nPlatform Capabilities\n- Game Aggregation: Hub88 integration provides 15,000+ games from 120+ providers (Pragmatic Play, Evolution, Play'n'Go, Spribe, etc.)\n- Sportsbook: 1,000+ leagues integrated\n- Payment Processing: Crypto (USDT, BTC, ETH) + fiat, <1% fees, real-time conversion\n- KYC/AML: Built-in verification and compliance workflows\n- Fraud Prevention: AI-powered detection and player behavior monitoring\n- CRM: Player segmentation, bonuses, promotions, retention campaigns\n- Customer Support: 24/7 multilingual support infrastructure\n- Analytics: Real-time dashboards for revenue, player behavior, game performance\n\nCustomization Options (No-Code)\n- 100+ design options: colors, fonts, layouts, UX flows\n- Logo and branding integration\n- Custom domain setup\n- Game library curation (choose from 15,000+ games)\n- Bonus and promotion configuration\n- Payment method selection by market\n- Language and currency localization\n\nLaunch Process\n1. Design Phase (10 minutes): Choose colors, fonts, logo, layout from templates\n2. Configuration Phase (10 minutes): Select games, payment methods, markets\n3. Go-Live Phase (10 minutes): DNS setup, compliance checks, activation\nTotal: 30 minutes from start to live casino\n\nBusiness Model & Service Delivery\n\nPricing Plans\n\nAll-in Pro:\n- $19,999 one-time payment\n- No monthly subscription\n- 15% revenue share from NGR\n- Everything included: games, sports, payments, KYC, support, licensing\n- Best for: Operators with consistent traffic expecting $15K+ monthly revenue\n\nCautious Creator:\n- $799/month subscription\n- 15% revenue share from NGR\n- Same features as All-in Pro\n- Best for: Testing market, smaller traffic, risk-averse operators\n\nWhat's Included (Both Plans):\n- 15,000+ casino games\n- Integrated sportsbook (1,000+ leagues)\n- Crypto + fiat payment processing\n- Full KYC/AML compliance\n- 24/7 customer support\n- Fraud prevention and risk management\n- CRM and player management tools\n- Analytics and reporting dashboards\n- Anjouan & Tobique licenses (185+ countries)\n- 100+ no-code customization options\n- Ongoing operational support\n\nManaged Service Approach\nMaincard handles:\n- Technical infrastructure and hosting\n- Game provider relationships and integrations\n- Payment processor partnerships\n- KYC vendor coordination\n- Customer support operations (white-labeled)\n- Fraud monitoring and prevention\n- Regulatory compliance and reporting\n- Platform updates and maintenance\n- Best practices consultation\n\nWhat Clients Handle:\n- Driving traffic to their casino\n- Marketing and player acquisition\n- Brand positioning and messaging\n- Bonus and promotion strategy (with our guidance)\n\nOnboarding Capacity\nMaincard can onboard operators rapidly due to standardized 30-minute setup process. Unlike traditional platforms requiring dedicated implementation teams, Maincard's no-code approach enables scale without sacrificing quality.\n\nEngagement Process\nProspects express interest through:\n- Email responses to outreach\n- Calendar bookings for discovery calls\n- LinkedIn/Telegram conversations\n- Conference connections\n\nProcess:\n1. Discovery Call (15 min): Understand their traffic, goals, current situation\n2. Demo Walkthrough (10 min): Show platform, customization options, economics\n3. Decision & Setup: Most prospects decide within 1-3 days if interested\n4. Launch (30 min): Live casino in single session\n5. Ongoing Support: Check-ins, optimization recommendations, performance analysis\n\nThree-Phase Operator Journey\n\nPhase 1: Launch (Day 1)\n- 30-minute setup session\n- Casino goes live with full functionality\n- Initial configuration: games, payments, branding\n- DNS and domain setup\n- Compliance verification\n\nPhase 2: Traffic & Optimization (Days 2-30)\n- Drive initial traffic to casino\n- Monitor player behavior and game performance\n- Optimize game library based on audience preferences\n- Refine bonus and promotion strategies\n- Customer support monitoring and feedback\n\nPhase 3: Scale & Iterate (Month 2+)\n- Revenue stabilizes and grows\n- Consider launching additional brands for new segments\n- Implement retention and loyalty programs\n- Expand to new markets or audience segments\n- Cross-promotion between brands (if multiple)\n\nThis phased approach ensures operators see rapid time-to-value (live in 30 minutes) while building sustainable, growing operations over time.\n\nStrategic Philosophy: 7 Reframes\n\nMaincard's approach is built on fundamental reframes of how traffic owners and operators should think about monetization and platform ownership:\n\n1. \"Affiliate Commissions Are Leaving Money on the Table\"\n- Traditional thinking: 20-30% affiliate commissions are \"good enough\"\n- Maincard reframe: You're giving away 70-80% of the value you create\n- The math: $100K in player losses = $25K affiliate income vs. $85K ownership income\n- Actionable shift: Same traffic, 3.4x the revenue by owning the casino\n\n2. \"Platform Development Isn't a Barrier Anymore\"\n- Traditional thinking: Need 6-12 months and dev team to launch casino\n- Maincard reframe: Platform is ready, you bring the traffic\n- Old model: Build → Market → Revenue (6-12 months)\n- New model: Market → Revenue (30 minutes)\n- Result: Test ideas in minutes instead of betting months on unproven concepts\n\n3. \"Your Audience Wants to Play on YOUR Casino\"\n- Traditional thinking: Players don't care whose casino they play on\n- Maincard reframe: Audiences are loyal to creators, not generic casinos\n- Evidence: Streamers get \"when will you launch your own casino?\" constantly\n- Trust transfer: Your audience trusts you → they'll trust your casino more than random affiliate link\n- Authenticity: Promoting your own platform feels genuine vs. obvious sponsor read\n\n4. \"Multi-Brand Doesn't Mean Multi-Team\"\n- Traditional thinking: More casinos = more operational teams needed\n- Maincard reframe: Launch unlimited brands, same operational load\n- Each brand: 30 minutes to launch, zero additional staff\n- Use case: Sports brand, slots brand, crypto brand—all running simultaneously\n- Economics: 3 brands with Maincard ($60K investment) vs. 1 brand traditional ($150K+ investment)\n\n5. \"Speed Is the Actual Competitive Advantage\"\n- Traditional thinking: Quality and features beat speed\n- Maincard reframe: By the time competitors finish building, you've already captured the market\n- Opportunity cost: 6 months of lost revenue while waiting for platform vs. earning from day 1\n- Market dynamics: Emerging markets move fast—first mover captures lion's share\n- Iteration advantage: Launch, learn, iterate in 30-minute cycles vs. quarterly releases\n\n6. \"Licensing Isn't Your Blocker\"\n- Traditional thinking: Need to get own gaming license before operating\n- Maincard reframe: Operate under established licenses immediately\n- Our licenses: Anjouan & Tobique covering 185+ countries\n- Same framework: Megapari and major operators use to expand fast\n- Focus shift: From \"how do I get licensed?\" to \"where should I launch first?\"\n\n7. \"Platform Risk Is Real, Ownership Is Protection\"\n- Traditional thinking: Affiliate model is safe and predictable\n- Maincard reframe: You're one commission cut away from revenue loss\n- Affiliate reality: Programs change terms, cut rates, or close without notice\n- Ownership security: Your casino, your players, your rules\n- Asset value: Casino with player database has exit value; affiliate account doesn't\n\nSummary\n\nMaincard represents a paradigm shift in how traffic owners, influencers, and small operators should think about iGaming monetization. With proven economics demonstrating 3-4x revenue increases over affiliate models, 30-minute launch times eliminating traditional development barriers, and $19,999 pricing removing capital risk, the platform offers a low-barrier, high-reward opportunity for anyone with traffic—from 5K to 500K+ audiences—to capture the full value of their audience by owning the casino instead of promoting someone else's.\n\nThe combination of speed, simplicity, and economics makes Maincard the obvious choice for operators seeking multi-brand strategies, influencers ready to monetize authentically, agencies wanting to own infrastructure, and affiliates tired of leaving 70% of revenue on the table.\n\n`;\n\nreturn [{\n  json: {\n    company_guidelines: documentation\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2512,
        -80
      ],
      "id": "4a9ee81c-7eb2-44bc-af73-09ed05a486e0",
      "name": "Company Context"
    },
    {
      "parameters": {
        "jsCode": "const parsedData = $('Parse Conversation').item.json;\nconst latestReply = parsedData.latest_reply || parsedData.latestReply || '';\nconst allMessages = parsedData.allMessages || [];\nconst leadName = parsedData.lead_name || parsedData.leadName || 'Lead';\nconst sentMessageText = parsedData.sent_message_text || parsedData.sentMessageText || '';\n\nfunction clean(text) {\n  return (text || '')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&quot;/g, '\"')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&#39;/g, \"'\")\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst recentCount = 5;\nlet slackRecent = '';\n\nif (Array.isArray(allMessages) && allMessages.length > 0) {\n  slackRecent += `📧 *Latest reply from ${leadName}:*\\n${clean(latestReply)}\\n\\n`;\n  \n  // Берем ПЕРВЫЕ recentCount сообщений после index 0 (самые свежие)\n  if (allMessages.length > 1) {\n    slackRecent += `💬 *Recent messages:*\\n`;\n    const endIndex = Math.min(1 + recentCount, allMessages.length);\n    \n    for (let i = 1; i < endIndex; i++) {\n      slackRecent += `• ${clean(allMessages[i])}\\n`;\n    }\n  }\n  \n  slackRecent += `\\n📤 *Your first message:*\\n${clean(sentMessageText)}`;\n} else {\n  slackRecent = `📧 *Latest reply:*\\n${clean(latestReply)}`;\n}\n\nreturn [{\n  json: {\n    ...parsedData,\n    slack_recent_conversation: slackRecent\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3712,
        -368
      ],
      "id": "4de4c43b-50bf-45d0-8e42-641e1ac2690d",
      "name": "Message Compilation"
    },
    {
      "parameters": {
        "jsCode": "function markdownToSlack(text) {\n  // 1. Подмена крупных заголовков: \"--- ... ---\" -> \"\\n====== ... ======\\n\"\n  text = text.replace(/-+ ?(.+?) ?-+/g, '\\n====== $1 ======\\n');\n  // 2. Подмена markdown-заголовков через \"# ...\" -> \"\\n====== ... ======\\n\"\n  text = text.replace(/^#+\\s*(.+)$/gm, '\\n====== $1 ======\\n');\n  // 3. Снятие курсив/жирный, оставить только обрамление звездочками для жирного\n  text = text.replace(/\\*\\*(.+?)\\*\\*/g, '*$1*');   // жирный\n  text = text.replace(/\\*(.+?)\\*/g, '$1');         // убрать курсив\n  // 4. Списки: любой \"- ...\" или \"* ...\" переводить в Slack-style буллет\n  text = text.replace(/^\\s*[-*]\\s*/gm, '• ');\n  // 5. Снять двойные пробелы-переносы, но между разделами добавить по два\n  text = text.replace(/\\n{3,}/g, '\\n\\n');\n  // 6. Ясные абзацы: после раздела \"====== ... ======\" всегда двойной перенос\n  text = text.replace(/(=+\\s.+?=+)\\n?/g, '$1\\n\\n');\n  // 7. Снять лишние пробелы по краям\n  text = text.trim();\n\n  return text;\n}\n\nconst reply = $input.first().json.choices[0].message.content;\nconst output = reply.split('</think>');\nconst reasoning = output[0].replace('<think>', '').trim();\nlet company_research = output[1] ? output[1].trim() : '';\n\n// Slack-friendly format:\ncompany_research = markdownToSlack(company_research);\n\nreturn {\n  reasoning: markdownToSlack(reasoning),\n  company_research,\n  raw_reply: reply\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3184,
        -368
      ],
      "id": "c01ee818-ca6b-41d8-8d4a-e4d58d99efb6",
      "name": "Research extraction"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09VB1QATCM",
          "mode": "id"
        },
        "text": "=🎯 *New Lead Reply!*\n\n💬 *Latest Reply:*\n{{ $('Parse Conversation').item.json.latestReply }}\n\n━━━━━━━━━━━━━━━\n\n👤 *Lead:* {{ $('Webhook').item.json.body.to_name }} from {{ $('HTTP get lead data').item.json.company_name }}, {{ $('HTTP get lead data').item.json.website }}\n*Email:* {{ $('Webhook').item.json.body.to_email }}\n*Campaign:* {{ $('Webhook').item.json.body.campaign_name }}\n*Time:* {{ $('Time').item.json.formatted_time }}\n\n<{{ $('Webhook').item.json.body.ui_master_inbox_link }}|🔗 Open in Smartlead →>\n\n\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        3648,
        80
      ],
      "id": "32dd0453-5203-48c3-91c0-8e234211050c",
      "name": "Send a message1",
      "webhookId": "632341ea-66ff-4c8d-a468-ef9370b924a3",
      "credentials": {
        "slackApi": {
          "id": "WiuZ6kXOyCMkPalb",
          "name": "Slack account 4"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-5-20250929"
        },
        "messages": {
          "values": [
            {
              "content": "=You are Anastasia, Sales Manager at Maincard — a no-code iGaming platform that enables businesses and influencers to launch fully branded online casinos in 30 minutes with complete operational support, licensing, and monetization control. You respond to inbound emails (e.g. replies to cold outreach or interest shown by prospects) with concise, clear, actionable messages that drive real conversation and results.\n\nHere is client's email (and the entire conversation history) you must reply to:\n\n{{ $('Parse Conversation').item.json.conversation_for_openai }}\n\n---\nHere are rules you must follow:\n\n## rules\n  \nSALES WRITING GUIDELINES (must always be respected):   \n- Grade 6 reading level. No jargon, filler, or buzzwords.  \n- Direct, plain, human style: No \"marketing\" cliches, no robotic tone, no fake enthusiasm. The tone is polite and informal. Use short lines and clear words.  \n- First 2-3 sentences: acknowledge what they said, connect to specific value that solves their exact problem. No generic praise. No abstract benefits. The opening must answer their explicit question or the need behind it.\n- Match their energy. Brief message = brief reply. Detailed = engage specifics. Skeptical = address doubt directly. Warm = move forward. Never use phrases that don't fit THIS moment with THIS person. \n- Only say what directly answers their current question. Case studies, features, processes that don't solve their stated problem = delete. Repetition = credibility loss. Filler = attention waste. Clarity beats completeness every time.\n- ONE simple CTA OR only one simple qualification question, clearly stated. Keep it low-friction, assertive and relevant. If the client is cold — use soft CTA. If he is warm and sounds interested — strong CTA (15 min discovery call)\n- The CTA must be active: a sharp, clear and confident question (with yes or now answers), engaging the conversation. Avoid passive forms, like \"if you are interested, contact me\" — that's terrible.\n- Always include a personalized greeting at the beginning and a courteous closing at the end of every email reply, tailored to the recipient and scenario.\n- Take Shared Ownership: Never say \"you misunderstood\" or over-apologize for their confusion. Instead, use phrases like \"Let me clarify...\" or \"I may not have explained this clearly enough...\". It is especially relevant when you face a misunderstanding.\n- Our CEO is available for strategic partnership discussions with high-value prospects. His WhatsApp: +1 949 922 0482. Use this info only when really relevant (large operators, strategic deals).\n\nIMPORTANT RULES TO WRITE LIKE A HUMAN:\n- Write in a natural human way, avoiding making messages too polish, polite and perfect. You should include small grammatic, orthographic and formating errors, simulating human typos and being a little humanly dumb.\n- Add 2-4 natural imperfections: missing periods/commas at the end of sentences and minor typos (2-3 max). Never touch names, companies, URLs. Text must remain professional and readable.\n- Write one 5-word sentence. Then one 25-word sentence. Never use \"however,\" \"nevertheless,\" \"on the other hand.\" Arguments don't build smoothly—they jump, pause, double back. Make the reader work to follow.\n- Real brands, real people, exact numbers ($19,999 not \"around $20,000\"). Ban these words unless you explain why: \"interesting,\" \"important,\" \"valuable,\" \"significant.\" Use weird metaphors. Digress. Show how YOU think, not how everyone thinks.\n- Don't polish out the thinking. Write \"actually, no—\" and correct yourself. Write \"I'm struggling to say this but—\" when it's hard. Some sentences should bump against each other, not glide. If everything flows perfectly, you've erased yourself.\n- Avoid long dashes \"—\", it always looks unnatural and AI-like\n- Do not use titles or thematic markers in the messages, it looks unnatural.\n\nLENGTH GUIDELINES (flexible based on scenario, 3-4 short paragraphs max):\n- Simple scheduling: 30-60 words\n- Info requests: 60-120 words  \n- Objection handling: 80-150 words\n- Complex partnership discussions: 100-200 words\n\nWHEN ANSWERING:  \n- Respond only with the email reply, no intro/explanation.  \n- ALWAYS Reply in the same language as prospect's email  \n- Use the prospect's messages (provided below) as the base for reply context.  \n- You may share demo links, tutorials, and calendar links when relevant:\n  * Demo tutorial: https://www.loom.com/share/a950c539c7fb40f5b05bab738b06e5c6?sid=e27207d9-8759-4f0f-bb72-15f0087178bf\n  * Calendar: https://docs.google.com/forms/d/e/1FAIpQLSc8arEwUjOAXuKzOh7zwP_rzKfKb3t3L74wyUzheonIsNvPBQ/viewform\n\nQUALITY CHECKS (before sending):\n- Does it directly address their main question/concern?\n- Is company info tied to their specific context?\n- Is the CTA relevant to their stage and clear?\n- Would I send this without major edits?\n\nCTA EXAMPLES:\n(gradation from softer to harder)\n- \"Does this sound like something that could work for [Company/Your audience]?\"\n- \"Should I send more details, or is this not aligned with where you're headed?\"\n- \"Is launching your own platform something you're exploring this year?\"\n- \"What's your current process for monetizing [traffic/audience]?\"\n- \"Would a 15-minute call make sense to see if this fits?\"\n- \"Are you free this week for a 15-minute call?\"\n\n- Adapt the content to the scenario (\"meeting scheduling,\" \"objection handling,\" \"info request,\" \"follow-up,\" or \"partnership\").    \n\n## Hard Rejection: \n- Criteria: Explicit \"no\" with clear finality — \"not interested,\" \"not for us,\" \"don't contact again,\" or similar definitive language.\n- Explicit \"no\" or \"don't contact again\" means conversation is over. Silence is the only professional response here.\n\n## Soft Rejection\n- Criteria: Interest exists but timing/circumstances aren't right — \"maybe later,\" \"not now,\" \"reach out in Q3,\" \"too busy currently,\" or similar postponement signals.\n- Instruction: Qualify, is this real postponement or polite refusal? Ask direct question what specifically is holding the decision (timing/budget/priorities) to understand if reconnect makes sense. If they name concrete reason - offer to check back at specific moment. If they're vague - close it, don't waste time on \"maybe someday.\"\n\n**EXAMPLE FOR NOT-NOW** \n\nHey [First Name],\n\nThanks for being straight with me, appreciate it\n\nCan I ask what's holding this back right now? Is it timing, budget, locked into current platform, or something else I'm missing?\n\nNo pressure at all. Just helps me know if I should check back in a few months or if it's just not the right fit\n\nBest, \nAnastasia\n\n## Info Request \n- Criteria: Prospect asks specific questions about platform, pricing, features, licensing, integrations, or needs clarification before deciding.\n- Instruction: Answer their exact question directly without extra context. If question is single and simple - answer fully in email. If multiple questions or needs demo/explanation - answer briefly and offer 15-min call to show live. Don't overload email with information they didn't ask for.\n\n**Example: pricing request**\n\nHi [First Name],\n\nTwo options:\n\nAll-in Pro: $19,999 one-time, no monthly fees. 15% revenue share\nCautious Creator: $799/month + 15% revenue share\n\nBoth include everything: 15,000+ games, sportsbook, licenses (Anjouan & Tobique), full ops team, KYC, payments. No hidden costs\n\nI saw [Company] operates in [region]. Our licenses cover your markets. Actually easier if I just show you how it works for your setup\n\nQuick call this week?\n\nBest, \nAnastasia\n\n**Example: demo/features request**\n\nHey [First Name],\n\nHere's the walkthrough: https://www.loom.com/share/a950c539c7fb40f5b05bab738b06e5c6?sid=e27207d9-8759-4f0f-bb72-15f0087178bf\n\nPlatform goes live in 30 minutes. 15,000+ games, 1,000+ sports leagues, 100+ customization options. Crypto + fiat with <1% fees. We handle KYC, support, fraud prevention\n\nI noticed you're [using X platform / doing affiliate]. This is different - you own everything, we just run ops in the background\n\nLet me show you exactly how it'd work for [Company/your audience]. Call this week?\n\nBest, \nAnastasia\n\n**Example: license question**\n\nHi [First Name],\n\nWe operate under Anjouan and Tobique licenses, covering 185+ countries. You launch under our license - no need to go through licensing yourself\n\nSame setup Megapari uses to expand fast into new markets\n\nFor [markets you mentioned], we're compliant. I can send full country list, but honestly easier to walk through your specific markets on a call\n\n15 minutes work this week?\n\nBest, \nAnastasia\n\n## Positive Interest:\n- Criteria: Prospect shows genuine engagement — \"sounds interesting,\" \"tell me more,\" \"let's discuss,\" or asks about next steps.\n- Instruction: Move to action immediately. Don't add more information \"for persuasion\" - they're already interested. Propose concrete time slots for call within next 2-3 days. If they say \"tell me more\" - say \"easier to show than explain\" and invite to call. Momentum dies from slow responses.\n\n**Example when there is weak interest (agency)**\n\nHi [First Name],\n\nThanks for clarifying, makes sense\n\nSince you work with multiple influencers, this might be relevant. We help them launch branded casinos instead of selling traffic via affiliate links. Platform, ops, licensing - all managed. They just drive audience and keep 85% vs 20-30% affiliate commissions\n\nI've attached demo tutorial and country coverage\n\nDoes this come up with any of your influencers? If yes, happy to do brief intro call\n\nBest,\nAnastasia\n\n**Example when there is strong interest**\n\n[First Name],\n\nPerfect, let's do it\n\nI have Thursday afternoon or Friday morning this week. What works better?\n\nI'll show you exactly how we'd set up your branded casino, walk through economics vs current affiliate setup, see if it makes sense\n\nLooking forward\n\nBest,\nAnastasia\n\n## Meeting Scheduling: \n- Criteria: Prospect agrees to meet and either proposes times or asks for your availability.\n- Instruction: propose 2–3 meeting time intervals within the nearest working days after their available date or today (e.g., \"Thursday between 10:00–12:00...\"), during standard business hours (08:00-12:00 and 13:00–18:00 local time). If inconvenient, invite them to share preferred time. \n- If prospect wrote in non-English, ask in their language if English meeting is comfortable\n- Suggest time slots only when the person has explicitly shown interest in having a meeting.\n\n**Examples for MEETING SCHEDULING:**\n  \nHi [First Name],\n\nThanks for getting back. Are you okay doing the call in English?\n\nHere are some slots after October 9th:\n- Friday October 10 between 10am-12pm\n- Monday October 13 between 3pm-6pm  \n- Tuesday October 14 between 11am-1pm\n\nIf none work, just let me know what does\n\nBest,\nAnastasia\n\n-\n\nHey [First Name],\n\nFor Tuesday morning, I can do 8:30am or 9:15am. Wednesday at 11:30am works too\n\nWill English work for the call?\n\nTalk soon,\nAnastasia\n\n**Examples for meeting confirmation:**\n\n[First Name],\n\nConfirmed for Friday. Looking forward\n\nQuick question - English okay for the call?\n\nSee you Friday,\nAnastasia\n\n-\n\n[First Name],\n\nConfirmed for Thursday at 10am Paris time. See you then\n\nBest,\nAnastasia\n\n**Example for meeting rescheduling:**\n\nHi [First Name],\n\nWe missed you yesterday\n\nJust checking - did something come up, or maybe different meeting links? These things happen\n\nI have Thursday afternoon or Friday morning open this week if you want to reschedule. Or next week, whatever fits\n\nBest,\nAnastasia\n\n## Objection/Concern: \n- Criteria: Prospect raises doubts or barriers — pricing concerns, migration worries, competition questions, licensing skepticism, or barriers requiring addressing.\n- Acknowledge objection without defensive tone (\"I get it\" / \"fair question\"). If objection rules out one value prop (e.g., \"happy with affiliates\" or \"have platform\"), pivot to the other immediately - we solve two problems: launching NEW brands fast AND helping operators switch from expensive platforms. Give concrete answer with numbers or case example. If answer requires detailed explanation - offer call, don't write long emails.\n\n**Example for \"already using Soft2Bet/platform\":**\n\nHi [First Name],\n\nThanks for sharing. Makes sense\n\nOur thing is different, actually complementary. Most operators keep main brand on existing platform and use Maincard to launch NEW standalones in 30 minutes - same way Megapari launches multiple brands to capture more traffic\n\nPlus we typically save 40-60% on ops costs when they eventually migrate. But no need to touch what's working now\n\nYour current provider stays for main brand. We just give you way to launch additional brands without 6-month dev cycles\n\nQuick call this week to see how both could work for [Company]?\n\nBest,\nAnastasia\n\n**Example for \"happy with affiliate\":**\n\nHey [First Name],\n\nI get it, affiliates work. But here's the math\n\nYou drive traffic, get 20-30% rev share. We launch your branded casino - same traffic, you keep 85%. That's difference between $20K and $57K on $100K player losses\n\nPlus your audience sees YOUR brand, not random casino. Better trust, better conversion, better LTV\n\nMinikane switched from pure affiliate - tripled revenue in 3 months with same traffic. I can show the numbers\n\nLet me walk you through it. See if economics make sense for your traffic\n\nBest,\nAnastasia\n\n**Example for misunderstanding:**\n\nHi [First Name],\n\nLet me clarify, I probably wasn't clear\n\nYou're right to be skeptical. Here's what we actually do:\n\nFully branded casino (your logo, colors, domain). We provide tech, licenses, games, payments, KYC, support. You drive traffic, keep 85%. Live in 30 minutes, not 6 months\n\nNot \"another affiliate deal.\" You own the casino. Your players, your brand, your data\n\nEasier if I just show you. 10-minute call this week?\n\nBest,\nAnastasia\n\n**Example for \"too expensive\":**\n\n[First Name],\n\nFair concern. Let's look at numbers\n\nTraditional launch: $40K+ upfront, $100K-$500K dev, $1M+ annual ops, 6-12 months\nMaincard: $19,999 one-time (or $799/month to test), everything included, 30 minutes\n\nYou save 80-90% on costs and 100% on time\n\nPlus Cautious Creator at $799/month if you want to test market with minimal risk. Most operators recover that first week with decent traffic\n\nWant revenue projection based on your expected traffic? I can show breakeven on quick call\n\nBest,\nAnastasia\n\n**Example for \"don't have traffic yet\":**\n\nHi [First Name],\n\nActually this is perfect time\n\nMost operators wait for massive traffic, then realize they've been leaving money on table for years selling to others\n\nStart now with current audience. Platform scales with you - works same for 100 players or 10,000. Plus you build your brand and player database from day one instead of building someone else's\n\nWe have operators who started with 5K followers, now doing $50K+ monthly. The ones who waited? Still doing affiliate links for 25% commissions\n\nQuick call to see if your current traffic is enough?\n\nBest,\nAnastasia\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        3024,
        80
      ],
      "id": "9331b8de-684a-49a3-960b-914dd6c98a1b",
      "name": "Reply writer1",
      "credentials": {
        "anthropicApi": {
          "id": "QxTCo6YfDhdioSL0",
          "name": "Rizzult"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const parsedData = $('Parse Conversation').item.json;\nconst latestReply = parsedData.latest_reply || parsedData.latestReply || '';\nconst allMessages = parsedData.allMessages || [];\nconst leadName = parsedData.lead_name || parsedData.leadName || 'Lead';\nconst sentMessageText = parsedData.sent_message_text || parsedData.sentMessageText || '';\n\nfunction clean(text) {\n  return (text || '')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&quot;/g, '\"')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&#39;/g, \"'\")\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst recentCount = 5;\nlet slackRecent = '';\n\nif (Array.isArray(allMessages) && allMessages.length > 0) {\n  slackRecent += `📧 *Latest reply from ${leadName}:*\\n${clean(latestReply)}\\n\\n`;\n  \n  // Берем ПЕРВЫЕ recentCount сообщений после index 0 (самые свежие)\n  if (allMessages.length > 1) {\n    slackRecent += `💬 *Recent messages:*\\n`;\n    const endIndex = Math.min(1 + recentCount, allMessages.length);\n    \n    for (let i = 1; i < endIndex; i++) {\n      slackRecent += `• ${clean(allMessages[i])}\\n`;\n    }\n  }\n  \n  slackRecent += `\\n📤 *Your first message:*\\n${clean(sentMessageText)}`;\n} else {\n  slackRecent = `📧 *Latest reply:*\\n${clean(latestReply)}`;\n}\n\nreturn [{\n  json: {\n    ...parsedData,\n    slack_recent_conversation: slackRecent\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3408,
        80
      ],
      "id": "484d23f3-dade-4a23-97cc-fdc6f1614833",
      "name": "Message Compilation1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2704,
        432
      ],
      "typeVersion": 1,
      "id": "06f94298-9ebd-4dc9-b62d-bc6bc9083632",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2704,
        432
      ],
      "typeVersion": 1,
      "id": "c1340317-fc0f-4209-8636-644ce18c42b4",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {
    "Send a message1": [
      {
        "json": {
          "name": "First item",
          "code": 1
        }
      },
      {
        "json": {
          "name": "Second item",
          "code": 2
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "getsally.app.n8n.cloud",
            "user-agent": "axios/0.19.2",
            "content-length": "4294",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "3.25.146.160",
            "cf-ew-via": "15",
            "cf-ipcountry": "AU",
            "cf-ray": "99c8048b04d4a7ff-SYD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "3.25.146.160, 172.68.144.147",
            "x-forwarded-host": "getsally.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-41-785c66d969-hkkqv",
            "x-is-trusted": "yes",
            "x-real-ip": "3.25.146.160"
          },
          "params": {},
          "query": {},
          "body": {
            "reply_body": "<div>Это 1 тестовый ответ от клиента</div>",
            "preview_text": "Sounds cool! Pls, share more info",
            "category_name": "Interested",
            "sl_email_lead_id": "2912837326",
            "sl_email_lead_map_id": 2364536283,
            "campaign_status": "ACTIVE",
            "client_id": null,
            "stats_id": "71c90429-ceb3-4ef6-a09d-3415e4a6dc75",
            "from_email": "eleonora.s@easystaff-streamline.com",
            "to_email": "devonj@preventivemeasuresinc.com",
            "to_name": "Devon Jones",
            "time_sent": "2025-11-10T19:39:43.242+00:00",
            "event_timestamp": "2025-11-10T19:39:43.242+00:00",
            "campaign_name": "EasyStaff  - Glassdoor - US - US",
            "campaign_id": 2653741,
            "sequence_number": 1,
            "custom_subject": "freelancers payouts",
            "custom_email_message": "<div>Hi Devon,</div><div><br></div><div>I see you’re actively hiring on remote.</div><div><br></div><div>Are you satisfied with your current payout infrastructure or wouldn’t mind exploring alternative solutions?&nbsp;</div><div><br></div><div>We at Easystaff provide a payout platform that handles all paperwork, allows bulk payouts via CSV upload and secure same day instant payouts to freelancers with zero fees to them!&nbsp;</div><div><br></div><div>Also, our support is available 24/7 and we resolve any questions within one day.&nbsp;</div><div><br></div><div>Would you be Interested in a quick walkthrough?</div><div><br></div><div>Best regards,</div><div><br></div><div><br></div><p></p> <div bis_skin_checked=\"1\" >Eleonora Scherbakova<br>BDM, Easystaff.io</div>",
            "sent_message_body": "<div>Hi Devon,</div><div><br></div><div>I see you’re actively hiring on remote.</div><div><br></div><div>Are you satisfied with your current payout infrastructure or wouldn’t mind exploring alternative solutions?&nbsp;</div><div><br></div><div>We at Easystaff provide a payout platform that handles all paperwork, allows bulk payouts via CSV upload and secure same day instant payouts to freelancers with zero fees to them!&nbsp;</div><div><br></div><div>Also, our support is available 24/7 and we resolve any questions within one day.&nbsp;</div><div><br></div><div>Would you be Interested in a quick walkthrough?</div><div><br></div><div>Best regards,</div><div><br></div><div><br></div><p></p> <div bis_skin_checked=\"1\" >Eleonora Scherbakova<br>BDM, Easystaff.io</div>",
            "sent_message": {
              "message_id": "<71c90429-ceb3-sl98-4ef6-a09d-3415e4a6dc75@easystaff-streamline.com>",
              "html": "<div>Hi Devon,</div><div><br></div><div>I see you’re actively hiring on remote.</div><div><br></div><div>Are you satisfied with your current payout infrastructure or wouldn’t mind exploring alternative solutions?&nbsp;</div><div><br></div><div>We at Easystaff provide a payout platform that handles all paperwork, allows bulk payouts via CSV upload and secure same day instant payouts to freelancers with zero fees to them!&nbsp;</div><div><br></div><div>Also, our support is available 24/7 and we resolve any questions within one day.&nbsp;</div><div><br></div><div>Would you be Interested in a quick walkthrough?</div><div><br></div><div>Best regards,</div><div><br></div><div><br></div><p></p> <div bis_skin_checked=\"1\" >Eleonora Scherbakova<br>BDM, Easystaff.io</div>",
              "text": "Hi Devon,\n\n\nI see you’re actively hiring on remote.\n\n\nAre you satisfied with your current payout infrastructure or wouldn’t mind\nexploring alternative solutions? \n\n\nWe at Easystaff provide a payout platform that handles all paperwork, allows\nbulk payouts via CSV upload and secure same day instant payouts to freelancers\nwith zero fees to them! \n\n\nAlso, our support is available 24/7 and we resolve any questions within one\nday. \n\n\nWould you be Interested in a quick walkthrough?\n\n\nBest regards,\n\n\n\n\n\n\n\nEleonora Scherbakova\nBDM, Easystaff.io",
              "time": "2025-11-10T19:39:43.242+00:00"
            },
            "subject": "freelancers payouts",
            "message_id": "<71c90429-ceb3-sl98-4ef6-a09d-3415e4a6dc75@easystaff-streamline.com>",
            "secret_key": "654472d3-edd5-479c-b781-66342cb3ca37",
            "app_url": "https://app.smartlead.ai/app/master-inbox?leadMap=2364536283",
            "ui_master_inbox_link": "https://app.smartlead.ai/app/master-inbox?leadMap=2364536283",
            "description": "Email 1 sent to devonj@preventivemeasuresinc.com for campaign - EasyStaff  - Glassdoor - US - US",
            "metadata": {
              "webhook_created_at": "2025-11-10T19:14:58.538Z"
            },
            "webhook_url": "https://getsally.app.n8n.cloud/webhook/ef83f37a-1eda-4d2a-b1f7-210a20b8136c",
            "webhook_id": 364246,
            "webhook_name": "tfp - test",
            "event_type": "EMAIL_REPLY"
          },
          "webhookUrl": "https://getsally.app.n8n.cloud/webhook/ef83f37a-1eda-4d2a-b1f7-210a20b8136c",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP get lead data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update lead category",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP get lead data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update lead category": {
      "main": [
        []
      ]
    },
    "insert or update row": {
      "main": [
        []
      ]
    },
    "HTTP get lead data1": {
      "main": [
        [
          {
            "node": "log event first sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data1": {
      "main": [
        [
          {
            "node": "Parse Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Conversation": {
      "main": [
        [
          {
            "node": "Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classifier": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Category classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Time": {
      "main": [
        [
          {
            "node": "Company Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Perplexity Research",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply writer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Category classifier": {
      "main": [
        [
          {
            "node": "Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Research": {
      "main": [
        [
          {
            "node": "Research extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP get lead data4": {
      "main": [
        []
      ]
    },
    "HTTP get lead data": {
      "main": [
        [
          {
            "node": "Execution Data1",
            "type": "main",
            "index": 0
          },
          {
            "node": "insert or update row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company Context": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Compilation": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research extraction": {
      "main": [
        [
          {
            "node": "Message Compilation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply writer1": {
      "main": [
        [
          {
            "node": "Message Compilation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Compilation1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ece35ee4-202d-4a51-adef-26ab2d14eb81",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "20fe66f5309446fa764b12af171bce6280580269eb5061301aed4d30f1fcafbd"
  },
  "id": "DLmLXxcDAxVSI4gH",
  "tags": []
}